<!DOCTYPE html>
<html>
<head>
	<title>JMO Flask App</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        #banner {
            height: 350px;
            width: 100%;
            object-fit: cover;
        }
    
        .text-section {
            margin-top: 120px;
        }
    </style>
</head>
<body>
    <div class="container">
        <img id="banner" src="static/doesium_small.jpg" class="img-fluid" alt="Doesium Data">
        <div class="text-section">
        <h1>Welcome to MyDataConsulting</h1>
        <p>Thank you for visiting my page. This is just a basic example of a landing page.</p>
        <h2>About MyDataConsulting</h2>
            <p>Welcome to the world of <strong>MyDataConsulting</strong>, your one-stop-shop for all your data needs! We are a leading fictitious data consulting business specializing in database administration, data engineering, and data architecture services. Our highly skilled and dedicated team of professionals is committed to delivering top-notch solutions tailored to your unique requirements, ensuring that your data infrastructure runs smoothly and efficiently.</p>
            <p>But that's not all! At <strong>MyDataConsulting</strong>, we believe in empowering our clients with the knowledge they need to make informed decisions about their data strategies. That's why we also offer a range of comprehensive training courses designed to equip you with the skills you need to excel in the world of data management. Whether you're a seasoned professional looking to level up your skills, or a newcomer eager to break into the industry, our cutting-edge courses have got you covered. Partner with us today and unlock the true potential of your data!</p>
        <h2>Open Positions</h2>
            <p>TODO - show them here</p>
            <button>Contact Us</button>
        </div>
            <p>Copyright 2023, MyDataConsulting</p>
    </div>

</body>
</html>
